@charset "UTF-8";
/* CSS Document */
* {
	box-sizing: border-box;
}

body {
	transition: background 3s ease;
	background: #eb9534;
}

/** Slide Sections **/
.slide{
	padding-top: 20em;
}

.slide .inside {
	display: table;
	height: 100%;
	width: 100%;
	padding: 0 3em;
}

/**.slide .inside p {
	display: table-cell;
	width: 100%;
	clear: both;
	vertical-align: middle;
	text-align: center;
}**/

